@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");

$backgroun-color: #f5f8f9;
$fonts:  'Open Sans', 'Helvetica Neue', sans-serif;
$font_color: #3f454a;

body {
    background-color: $backgroun-color;
    font-family: $fonts;
    color: $font_color;
}

.profile {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 120px 127px 58px;
    max-width: 1170px;
    width: 95%;
    margin: 50px auto 35px auto;
    height: 305px;
    border-radius: 3px;
    filter: drop-shadow(0px 1px 3px rgba(114,126,136,0.28));
    background-color: #ffffff;
}

.profile_header {
    grid-column: 2;
    grid-row: 2;
}

.profile-info {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 17px;
    .name {
        grid-column: 1;
        grid-row: 1;
        font-size: 20px;
        font-weight: 600;
        align-self: center;
    }
    .profile_icon {
        color: #a8b8c4;
        position: relative;
        top: 5px;
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }
    .profile_icon.location {
        grid-column: 1;
        grid-row: 2;
    }
    .address {
        grid-column: 1;
        grid-row: 2;
        margin-left: 25px;
        font-size: 14px;
        font-weight: 400;
        align-self: center;
        
    }
    .profile_icon.call {
        grid-column: 1;
        grid-row: 3;
    }
    .phone {
        grid-column: 1;
        grid-row: 3;
        margin-left: 25px;
        font-size: 14px;
        font-weight: 400;
        align-self: center;
    }
    .rating {
        text-align: right;
        grid-column: 2;
        grid-row: 1;
        align-self: center;
        ion-icon {
            color: #727e88;
            position: relative;
            top: 3px;
            width: 25px;
            height: 20px;
        }
        .review-label {
            font-size: 13px;
            font-weight: 400;
            margin-left: 15px;
            margin-right: 25px;
        }
        .review-number {
            font-size: 14px;
            font-weight: 600;
            margin-left: 22px;
        }
    }
}

.profile_nav {
    grid-row: 3;
    grid-column: 2;
    bottom: 0;
    width: 80%;
    height: 58px;
    z-index: 9;
    margin-right: auto;
}

.profile_nav .nav-item {
    float: left;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 18px;
    padding-top: 18px;
    margin: 0 1.5%;
}

.profile_nav .nav-item:first-child {
    margin-left: 0;
}

.nav-item:hover {
    cursor: pointer;
    border-bottom: solid 2px #018dfd;
}

.followers {
    position: relative;
    text-align: right;
    padding: 0px 7px;
    grid-row: 3;
    grid-column: 2;
    z-index: 0;
    ion-icon {
        background-color: #a6b0b7;
        color: white;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: relative;
        top: 10px;
    }
    .followers-label {
        font-size: 13px;
        font-weight: 400;
        color: #a6b0b7;
        margin-left: 3px;
        margin-right: 15px;
    }
    .followers-number {
        font-size: 14px;
        font-weight: 400;
        margin-left: 7px;
    }
}

.followers:hover {
    .followers-label {
        color: #018dfd;
    }
    .followers-number {
        color: #018dfd;
    }
}

.profile-picture {
    grid-row: 2 / 4;
    width: 75%;
    height: 95%;
    margin: -5% 0 0 10%;
    filter: drop-shadow(0px 1px 12px rgba(189,196,201,0.7));
    background-color: #e3e4e5;
    overflow: hidden;
}

.profile-picture img {
    position: absolute;
    right: -45px;
}

.logout {
    position: absolute;
    top: 7%;
    right: 2%;
    width: 97px;
    height: 31px;
    border-radius: 3px;
    background-color: rgba(155,155,155,0);
    border: 1px solid #007ee5;
    color: #007ee5;
    font-weight: 700;
    font-size: 12px;
}

.logout:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #007ee5;
}

.popup-buttons{
    display: inline-block;
    position: relative;
    width: 80%;
    margin: 10px auto;
}

.cover-image {
    position: absolute;
    top: 23%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 221px;
    height: 45px;
    border-radius: 3px;
    background-color: rgba(155,155,155,0);
    border: 1px solid #d0dce7;
    color: #727e88;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
}

.cover-image ion-icon {
    position: relative;
    top: 6px;
    width: 25px;
    height: 25px;
    margin-right: 13px;
    color: #d0dce7;
}

.cover-image:hover {
    cursor: pointer;
    background-color: #d0dce7;
    color: #f5f8f9;
    ion-icon {
        color: #f5f8f9;
    }
}

.content {
    margin: 0 auto;
    padding: 2%;
    max-width: 1120px;
    width: 90%;
    height: 546px;
    border-radius: 3px;
    filter: drop-shadow(0px 1px 3px rgba(114,126,136,0.28));
    background-color: #ffffff;
}

// .about-container {
    // display: grid;
    // grid-template-rows: 1fr 1fr 1fr;
    // row-gap: 1px;
// }

.about-item {
    position: relative;
    background-color: #f5f7f7;
    height: 20px;
    padding: 8px 6px;
    margin-bottom: 1px;
    padding-right: 20px;
    // display: inline-block;
    clear:both;
    float:left;
    ion-icon:first-child {
        color: #a8b8c4;
    }
    & > label {
        font-size: 14px;
        font-weight: 400;
        position: relative;
        bottom: 3px;
    }
    .edit-btn {
        width: 20px;
        height: 20px;
        background-color: #ecf0f5;
        color: #727e88;
        float: right;
        padding: 8px 11.5px;
        position: relative;
        bottom: 8px;
        left: 19px;
    }
    .edit-btn:hover {
        cursor: pointer;
        background-color: #007ee5;
        color: #ecf0f5;
    }
}

.edit-btn-mobile {
    display: none;
}

.about-item.name {
    & > label {
        font-size: 16px;
        font-weight: 600;
    }
}

.popup {
    filter: drop-shadow(0 0 12.5px #bdc4c9);
    background-color: #ffffff;
    position: absolute;
    left: 90%;
    top: 0%;
    width: 258px;
    height: 102px;
    z-index: 99;
    padding: 20px
}

#edit-cancel {
    cursor: pointer;
    float: right;
    width: 97px;
    height: 31px;
    border-radius: 3px;
    background-color: rgba(155,155,155,0);
    border: 1px solid #007ee5;
    color: #007ee5;
    font-weight: 700;
    font-size: 12px;
}

#edit-save {
    cursor: pointer;
    float: left;
    width: 97px;
    height: 31px;
    border-radius: 3px;
    background-color: #007ee5;
    border: 1px solid #007ee5;
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
}

