$breakpoint-tablet: 740px;
@media (max-width: $breakpoint-tablet) {
    body {
        margin: 0;
    }
    .profile {
        background-color: #f5f8f9;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 30% 34% 16%;
        margin: 0;
        padding: 3%;
        width: auto;
        height: 480px;
        padding-bottom: 0;
        margin-bottom: 15px;
    }
    .logout {
        position: absolute;
        top: 3%;
        right: 3%;
        width: 97px;
        height: 31px;
        background-color: rgba(155, 155, 155, 0);
        border: 1px solid rgba(155, 155, 155, 0);
        color: #007ee5;
        font-weight: 700;
        font-size: 12px;
    }
    .profile-picture {
        grid-row: 2;
        text-align: center;
        width: 127px;
        height: 127px;
        margin: auto;
        filter: drop-shadow(0px 1px 12px rgba(189, 196, 201, 0.7));
        background-color: #e3e4e5;
        overflow: hidden;
        }
    .cover-image {
        display: none;
    }
    .profile_header {
        grid-column: 1;
        grid-row: 3;
        margin-top: auto;
    }

    .profile-info {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 2fr;
        row-gap: 5px;
        .name {
            grid-column: 1;
            grid-row: 1;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            align-self: center;
        }
        .profile_icon {
            color: #a8b8c4;
            position: relative;
            top: 5px;
            margin-right: 10px;
            width: 20px;
            height: 20px;
        }
        .profile_icon.location {
            grid-column: 1;
            grid-row: 3;
        }
        .address {
            grid-column: 1;
            grid-row: 3;
            margin-left: 25px;
            font-size: 14px;
            font-weight: 400;
            align-self: center;
            
        }
        .profile_icon.call {
            grid-column: 1;
            grid-row: 2;
        }
        .phone {
            grid-column: 1;
            grid-row: 2;
            margin-left: 25px;
            font-size: 14px;
            font-weight: 400;
            align-self: center;
        }
        .rating {
            text-align: left;
            grid-column: 1;
            grid-row: 4 / 5;
            align-self: center;
            display: grid;
            grid-template-columns: 25px 25px 25px 25px;
            grid-template-rows: 1fr 1fr;
            row-gap: 10px;
            ion-icon {
                grid-row: 1;
                color: #007ee5;
                position: relative;
                top: 3px;
                width: 25px;
                height: 20px;
            }
            .review-number {
                grid-row: 2;
                grid-column: 1;
                font-size: 14px;
                font-weight: 600;
                margin-left: 28%;
            }
            .review-label {
                grid-row: 2;
                grid-column: 2 / 5;
                font-size: 13px;
                font-weight: 400;
                margin-left: 0;
                margin-right: 5px;
            }
            
        }
    }
    .followers {
        text-align: left;
        padding: 0px 7px;
        grid-row: 4;
        grid-column: 1;
        margin: auto 0;
        ion-icon {
            top: 0px;
        }
        .followers-label {
            vertical-align: super;
        }
        .followers-number {
            vertical-align: super;
        }
    }

    .profile_nav {
        background-color: #fff;
        grid-row: 5;
        grid-column: 1;
        bottom: 0;
        width: 103%;
        height: 50px;
        position: absolute;
        margin-left: -3%; //extreme solution for a bad <div> placement
        white-space: nowrap;
        overflow-x: auto;
        filter: drop-shadow(0px 1px 3px rgba(114,126,136,0.28));
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar; 
    }

    .profile_nav .nav-item:first-child {
        margin-left: 25px;
    }

    .profile_nav::-webkit-scrollbar {
        display: none; 
    }
    
    .profile_nav .nav-item {
        padding-bottom: 15px;
        padding-top: 13px;
        margin: 0 3%;
        float: unset;
        display: inline-block;
    }

    .content {
        margin: 0;
        margin-bottom: 10%;
        width: 90%;
        height: 100%;
        min-height: 280px;
        display: inline-block;
        padding: 2% 5%;
        padding-bottom: 12%;
    }

    .content h2 {
        font-size: 20px;
        color: #727e88;
        font-weight: 400;
    }

    .content .group { 
        position:relative;
        margin-top: 35px;
        margin-bottom: 10px;
        .material-input {
            width: 95%;
        }
        .bar {
            width: 100%;
        }
    }

    .about-item .edit-btn {
        display: none;
    }

    .about-item {
        background-color: white;
    }

    .edit-btn-mobile {
        display: block;
        position: absolute;
        width: 26px;
        height: 21px;
        background-color: #ecf0f5;
        color: #727e88;
        float: right;
        padding: 2px 2px;
        top: 32px;
        right: 26px;
    }

    .edit-btn-mobile:hover {
        cursor: pointer;
        background-color: #007ee5;
        color: #ecf0f5;
    }

    .edit-buttons {
        display: flex;
        width: 35%;
        position: absolute;
        top: 21px;
        right: 21px;
    }

    #edit-save, #edit-cancel {
        font-size: 14px;
        font-weight: 400;
        margin: 0 2%;
        background-color: rgba(155, 155, 155, 0);
        border: 1px solid rgba(155, 155, 155, 0);
        color: #007ee5;
    }
}