// .dots-div {
    
// }

.dots-menu {
    position: absolute;
    right: 85px;
    bottom: 56px;
    display: flex;
    flex-direction: column;
    width: 80px;
    background-color: white;
    filter: drop-shadow(0px 1px 3px rgba(114,126,136,0.28));
    padding: 2%;
}

