.followers-tooltip {
    position: absolute;
    right: 42px;
    top: -50px;
    padding: 8px;
    font-size: 14;
    display: inline-block;
    border-radius: 3px;
    background-color: white;
    filter: drop-shadow(0px 1px 3px rgba(114,126,136,0.28));
}