body {
    background-color: #f5f8f9;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content-container {
    width: 1170px;
    height: 616px;
    border-radius: 3px;
    filter: drop-shadow(0px 1px 3px rgba(114,126,136,0.28));
    background-color: #ffffff;
}

.profile-container {
    width: 1170px;
    height: 305px;
    border-radius: 3px;
    filter: drop-shadow(0px 1px 3px rgba(114,126,136,0.28));
    background-color: #ffffff;
}

.nav div {
    float: left;
}

.profile-picture {
    position: relative;
    width: 171px;
    height: 171px;
    filter: drop-shadow(0px 1px 12px rgba(189,196,201,0.7));
    background-color: #e3e4e5;
    overflow: hidden;
}

.profile-picture img {
    position: absolute;
    right: -45px;
}